<div class="container">
	<div class="row">
		<main class="col-md-12">
			<!-- Start your code here -->
			<h1>Welcome to the About page</h1>
			<p>Hello and a warm welcome to the "About" page! Here, you'll get to know a little bit more about the person behind all the tutorials and resources you see on this site.</p>

			<h2>Meet the Developer</h2>
			<p>My name is Jiasheng Zou, and I am a a proud student of Seneca College with the student ID 141462226. I am currently enrolled in the Business Information Technology program. enthusiastically entering the world of web development. My journey began as an interest that developed into a career path that I'm genuinely enthusiastic about. I'm excited to share my expertise in HTML5 and Express.js routing with you on this website. Together, we'll unravel the web development complexities and turn them into a fun learning experience. Welcome on board my voyage!</p>
			<p>Feel free to explore the different sections and pages of this website to learn more!</p>
			<!-- End your code here -->
		</main>
	</div>
</div>