{{#if viewData.courses}}
    <select class="form-control" name="course" id="course">
        <option value="">Select Course</option>
        {{#each viewData.courses}}
            <option value="{{courseId}}" {{#if selected}} selected {{/if}} >{{courseCode}}</option>
        {{/each}}
    </select>
{{else}}
    <div>No Courses</div>
{{/if}}
